@media screen and ( max-width: 1720px )
    .slider
        &__control
            &_left
                left: -60px
        &-wrapper
            width: 1200px
            margin: 0 auto
            padding-left: 50px
    
@media screen and ( max-width: 1500px )
    .container
        max-width: 1320px
    .services
        &__wrapper
            justify-content: center
            grid-row-gap: 50px
    .works
        padding-bottom: 70px
        &__wrapper
            grid-template-columns: repeat(auto-fit, minmax(320px, 450px))
            column-gap: 60px
            justify-content: center
        &__item
            &_large1
                grid-row: 3/4
                grid-column: 1/2
            &_large2
                grid-row: 3/4
                grid-column: 2/3
    .slider
        &__control
            &_left
                left: -60px
        &-wrapper
            width: 960px
            margin: 0 auto
            padding-left: 50px
    .form
        &__item
            width: 450px
            &_long
                width: auto
        &__block
            
    
@media (max-width: 1200px)
    .container
        max-width: 960px
    .services
        padding-top: 80px
        padding-bottom: 70px
        

    
    .slider
        &-wrapper
            width: 830px
            margin: 0 0
            padding-left: 50px
        &__person
            &-wrapper
                padding-top: 0px
                padding-left: 50px
            &-descr
                font-size: 20px
        &__control
            &_left
                left: -15px
    .references
        padding-bottom: 70px
        &__icons
            margin-top: 70px
    .form
        &__item
            width: auto
    
    .footer
        &__contacts
            &-subblock
                margin-bottom: 7px
                &:nth-child(2)
                    margin-bottom: 0
