.menu
    &__logo
        display: none
        font-family: UniNeue
        font-size: 47px
        line-height: 17px
        font-weight: 900
        letter-spacing: -0.04em
        color: $white-color
    &__socials
        display: none
    &__block
        width: 566px
    &__list
        list-style-type: none
        display: flex
        justify-content: space-between
    &__link
        text-decoration: none
        font-size: 25px
        line-height: 17px
        font-weight: 700
        letter-spacing: -0.04em
        color: $white-color
        &:hover
            text-decoration: underline
            text-underline-offset: 5px

.menu__link.active
    text-decoration: underline
    text-underline-offset: 5px
    color: gray